<div class="map">
  <img
    alt="Map image at coordinates {{@lat}},{{@lng}}"
    ...attributes {{!-- allow invoker to further customize such as passing class attribute and override default alt --}}
    src={{this.src}} {{!-- getter method declared in component-class js file --}}
    width={{@width}} height={{@height}}
  >
</div>